@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
body{
    margin:  0;
    padding: 0;
}
#digi-clock{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.time{
    font-size: 55px;
    font-weight: 900;
    font-family: 'Abril Fatface', cursive;
}
.date{
    font-size: 25px;
    font-weight: 900;
    font-family: 'Abril Fatface', cursive;
}
.clock{
    position: relative;
    background-color: red;
    height: 45vh;
    width: 46vh;
    background: url("images/clock.png") no-repeat;
    background-size: cover;
    margin:auto;
    background-position: center;
}
#hours , #minuts , #seconds{
    position: absolute;
    background-color: black;
    
    transform-origin: bottom;
}
#hours {
    width: 1.3%;
    height: 21%;
    left: 49%;
    top: 29%;
    border-radius: 5px;

    
}
#minuts {
    width: 1.3%;
    height: 29%;
    left: 49.3%;
    top: 20.87%;
    border-radius: 5px;
    
}
#seconds {
    width: 1.3%;
    height: 37%;
    left: 49.3%;
    top: 13.3%;
    border-radius: 5px;

}

